.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  text-align: left;
  text-transform: none;
  background: #177db8;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
}
